version: '3'
services:
  prompt-server:
    build:
      context: prompt_server/
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    volumes:
      - ./models:/models
      - ./prompt_server:/code
    # Add the "labels" section to set the container to remove itself on shutdown
    labels:
      - "com.docker.compose.container-name=guidance-server"
      - "com.docker.compose.service=guidance-server"
      - "com.docker.compose.oneoff=False"
      - "com.docker.compose.project=brainchulo-guidance-server"
    # Add the "stop_signal: SIGINT" option to use SIGINT signal for stopping the container gracefully
    stop_signal: SIGINT
    environment:
      MODEL_PATH: /models/codegen-350M-mono
    restart: unless-stopped

  guidance:
    image: paolorechia/guidance_server:cpu-0.1
    ports:
      - "9000:9000"
    volumes:
      - ./models:/models
    # Add the "labels" section to set the container to remove itself on shutdown
    labels:
      - "com.docker.compose.container-name=guidance-server"
      - "com.docker.compose.service=guidance-server"
      - "com.docker.compose.oneoff=False"
      - "com.docker.compose.project=brainchulo-guidance-server"
    # Add the "stop_signal: SIGINT" option to use SIGINT signal for stopping the container gracefully
    stop_signal: SIGINT
    environment:
      MODEL_PATH: /models/codegen-350M-mono
    restart: unless-stopped